{# See: https://flask.palletsprojects.com/en/2.3.x/patterns/templateinheritance/ #}
{% extends "base.html" %}
{% block page_title %} Interactive Scenario State View {% endblock %}
{% block content %}
    <div class="card center">
        <div class="button-box col-lg-12">
            {% if prev_state_url %}
                <a href="{{ prev_state_url }}" class="btn btn-primary" role="button">&laquo; Show Previous State</a>
            {% else %}
                <a aria-disabled="true" class="btn btn-primary disabled" role="button">&laquo; Show Previous State</a>
            {% endif %}
                <a href="{{ scenario_url }}" class="btn btn-primary" role="button">Back to Scenario Overview</a>
            {% if next_state_url %}
                <a href="{{ next_state_url }}" class="btn btn-primary" role="button">Show Next State &raquo;</a>
            {% else %}
                <a class="btn btn-primary disabled" role="button">Show Next State &raquo;</a>
            {% endif %}
        </div>
        </div>

    <div id="cards-container" class="container">
        <div class="card center scenario-viz">
            {{embeddable_html | safe }}
        </div>
    </div>

    <div class="row">
            <div class="card mt-5">
                <div class="card-body">
                    <form name="select-trajectory" action='/drive' method="POST">
                        <h3 align="center" id="traj_output">There are 0 feasible trajectories at target speed (Km/h) <mark>0.0</mark></h3>
                        <table class="table">
							<tbody>
                                <tr>
                                    <th scope="col">Navigate the feasible trajectories</th>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"  {{ "checked" if snap_to_road }} id="flexCheckDefault" onchange="handleChange(this)">
                                            <label class="form-check-label" for="flexCheckDefault">Snap trajectories to roads (cause a page reload)</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="btn btn-primary" type="button" value="Prev. Trajectory" id="prev_trajectory_button">
                                        <input class="btn btn-primary" type="button" value="Next Trajectory" id="next_trajectory_button"></td>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Set the target speed in Km/h. Current value: <mark id="v_output"></mark></th>
                                    <td colspan="2">
                                        <div class="slidecontainer">
                                            <input type="range" min="0" max="4" value="0" class="slider" id="v_index">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Set the target lateral displacement in m. Current value:  <mark id="d_output"></mark></th>
                                    <td colspan="2">
                                        <div class="slidecontainer">
                                            <input type="range" min="0" max="4" value="0" class="slider" id="d_index">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Set the target time to achieve target conf in sec. Current value:  <mark id="t_output"></mark></th>
                                    <td colspan="2">
                                        <div class="slidecontainer">
                                            <input type="range" min="0" max="4" value="0" class="slider" id="t_index">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Set the planning horizon in sec. Current value: <mark id="h_output"></mark></th>
                                    <td colspan="2">
                                        <div class="slidecontainer">
                                            <input type="range" min="0" max="4" value="0" class="slider" id="h_index">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- This contains the actual JSON/Information about the states as String -->
                        <input type="hidden" name="planned_states" id="planned_states">
                        <input type="hidden" name="initial_timestamp" id="initial_timestamp" value="{{ initial_timestamp }}">
                        <input type="hidden" name="scenario_id" id="scenario_id" value="{{ scenario_id }}">

                        <input type="submit" value="Submit" id="submit_button">

                    </form>
                </div>
            </div>
        </div>
</div>

<script>
    function handleChange(checkbox) {
        let url = window.location.href.replace(window.location.search, "")
        url += '?' + '&scenario_id={{ scenario_id }}&timestamp={{ initial_timestamp }}'
        if( checkbox.checked == false ){
            url += '&relative'
       }
       window.location.href = url;
    }

    // This function alters the embedded html to make it auto-resizable
    function autosize_figure(){
        // TODO We assume there's one and only one of such elements
        var the_main_svg = document.getElementsByClassName("mpld3-figure")[0];
        the_main_svg.removeAttribute("width")
        the_main_svg.removeAttribute("height")
        the_main_svg.setAttribute("viewBox", "50 70 700 180")
        // TODO We assume there's one and only one of such elements
        var toolbar_svg = document.getElementsByClassName("mpld3-toolbar")[0];
        toolbar_svg.setAttribute("x", "50")
        toolbar_svg.setAttribute("y", "235")
    }

    // Global variable holding all the trajectories a 3D matrix [v][d][t]
    // Global variable holding all the trajectories a 3D matrix [v][d][t]
    trajectory_data = {{ trajectories | tojson}}

    v_range = {{ v | tojson }}
    d_range = {{ d | tojson }}
    t_range = {{ t | tojson }}
    h_range = {{ h | tojson }}




    // Trajectory exploration

    // Navigate the visible trajectories by selecting the values from the sliders
    // Setup the sliders and default visualization
    var v_slider = document.getElementById("v_index");
    // Range of values must always be an integer, we need the range to look up the corresponding value
    v_slider.min = 0
    v_slider.max = v_range.length - 1

    var v_output = document.getElementById("v_output");

    var d_slider = document.getElementById("d_index");
    d_slider.min = 0
    d_slider.max = d_range.length - 1

    var d_output = document.getElementById("d_output");

    var t_slider = document.getElementById("t_index");
    t_slider.min = 0
    t_slider.max = t_range.length - 1

    var t_output = document.getElementById("t_output");

    var h_slider = document.getElementById("h_index");
    h_slider.min = h_range[0]
    h_slider.max = h_range.length - 1

    var h_output = document.getElementById("h_output");

    var traj_output = document.getElementById("traj_output");

    // Update the current slider value (each time you drag the slider handle)
    v_slider.oninput = function() {
        // Visualize the actual value - rounded to the next integer
        v_output.innerHTML = (parseFloat(v_range[this.value]) * 3.6).toFixed(2);
        // Only when we change the speed we update the visible trajectories
        update_visible_trajectories()
        update_trajectory()
        update_sliders()
    }

    d_slider.oninput = function() {
        update_trajectory()
        update_sliders()
    }

    t_slider.oninput = function() {
        // t_output.innerHTML = t_range[this.value];
        update_trajectory()
        update_sliders()
    }

    h_slider.oninput = function() {
        // h_output.innerHTML = h_range[this.value];
        update_trajectory()
        update_sliders()
    }

    // This one is needed for Visualizing all the Selectable Trajectories
    // Encapsulate better the global state:
    var global_state = {
        visible_trajectories : [],
        map_visible_trajectories_to_sliders : [],
    }

    var visible_trajectory_index = 0

    function update_visible_trajectories(){
        // We need to update the visible trajectories (all trajectories with the same SPEED value)
        // And store the mapping with the various v_index, d_index, and t_index
        var visible_trajectories_placeholder = document.getElementById("visible_trajectories_bridge");

        // Reset current GLOBAL state
        global_state.visible_trajectories.length = 0
        global_state.map_visible_trajectories_to_sliders.length = 0

        // Iterate over all elements of this 2D dictionary [d_slider.value][t_slider.value]
        var v_index = v_slider.value
        for (let d_index in trajectory_data[v_index]) {
            for (let t_index in trajectory_data[v_index][d_index]) {
                var state_list = []

                if (JSON.stringify(trajectory_data[v_index][d_index][t_index]).length - 2 > 0 ){
                    // Convert the data in a format that can be displayed if there's anything to display
                    for(const state of trajectory_data[v_index][d_index][t_index]){
                        state_list.push([state.position_x, state.position_y])
                    }
                    global_state.visible_trajectories.push(state_list)
                    global_state.map_visible_trajectories_to_sliders.push(
                        {
                            v_index : v_index,
                            d_index : d_index,
                            t_index : t_index
                        }
                    )
                }
            }
        }

        // Trigger the event to refresh the visualization
        var evt = new CustomEvent("Refresh", {detail : {new_visible_trajectories: global_state.visible_trajectories} });
        visible_trajectories_placeholder.dispatchEvent(evt);
    }

    // This one is needed for Visualizing the Selected Trajectory
    var planned_states_input =document.getElementById("planned_states");

    function update_trajectory(){
        // At this point, visible trajectories are updated
        var trajectory_placeholder = document.getElementById("the_trajectory");

        // Note: Since we use slice that ignores the last element, we add one
        var horizon_value = 0;
        var visualized_trajectory = []
        planned_states_input.value = ""

        // The trajectory data are never NULL, but they can be empty {}. This is not that easy to check in JS
        if (JSON.stringify(trajectory_data[v_slider.value][d_slider.value][t_slider.value]).length - 2 > 0 ){
            horizon_value = parseInt(document.getElementById("h_index").value) + 1;
            // Update the hidden input field
            planned_states_selected = trajectory_data[v_slider.value][d_slider.value][t_slider.value].slice(1, horizon_value)
            planned_states_input.value = JSON.stringify(planned_states_selected)
            // Build the object that will be visualized by the TrajectoryView Plugin
            for(const state of trajectory_data[v_slider.value][d_slider.value][t_slider.value]){
                visualized_trajectory.push([state.position_x, state.position_y])
            }
        }

        // Compute the index of the visible trajectory such that sliders can be updated to reflect the change
        // This code is needed when the user navigates the trajectories directly using the sliders. Some configurations do not exist!
        // Check whether we need to update the index of the selected trajectory
        visible_trajectory_index = null
        // Reverse lookup on the trajectories to find a match with the
        for(var i = 0; i < global_state.map_visible_trajectories_to_sliders.length; i++){
            const mapping_instance = global_state.map_visible_trajectories_to_sliders[i];
            if( v_slider.value == mapping_instance["v_index"] && d_slider.value == mapping_instance["d_index"] && t_slider.value == mapping_instance["t_index"]){
                visible_trajectory_index = i;
                break
            }
        }

        // If at this point we do not find any feasible trajectory, but they are there, force the first
        // the sliders will be updated automatically and force the visible trajectory using the corresponding values
        if (visible_trajectory_index == null && global_state.map_visible_trajectories_to_sliders.length > 0){
            // Force the visible_trajectory_index to be visible
            visible_trajectory_index = 0
            // Recursive call?
            update_sliders()
            update_trajectory()
        } else {
            //Dispatch the custom event to refresh the GUI only if there is a trajectory to visualize
            var evt = new CustomEvent("UpdateTrajectoryEvent", {detail : {trajectory : visualized_trajectory, horizon : horizon_value} });
            trajectory_placeholder.dispatchEvent(evt);
        }
    }


    function update_sliders(){

        // Update the count of feasible trajectories
        traj_output.innerHTML = 'There are <mark>' + global_state.visible_trajectories.length.toString() + '</mark> feasible trajectories at target speed <mark>' +
                parseFloat(v_range[v_slider.value]).toFixed(2) + '</mark> (Km/h)'

        if(visible_trajectory_index != null){
            // Use the value of the visible_trajectory_index to update the sliders' value
            slides_dictionary = global_state.map_visible_trajectories_to_sliders[visible_trajectory_index]
            d_slider.value = slides_dictionary["d_index"]
            t_slider.value = slides_dictionary["t_index"]
            // One exists and is selected: Enable Submit Button
            document.getElementById("submit_button").disabled = false
        } else {
            // No trajectory selected: Disable Submit Button
            document.getElementById("submit_button").disabled = true
        }

        // If the user does not specify a planning horizon, (re)disable the submit button
        if (h_slider.value == 0) {
            // Disable Submit Button
            document.getElementById("submit_button").disabled = true
        }

        // Refresh the GUI
        v_output.innerHTML = parseFloat(v_range[v_slider.value]).toFixed(2);
        t_output.innerHTML = parseFloat(t_range[t_slider.value]).toFixed(2);

        // Make sure negative numbers are reported as Left
        var target_d = parseFloat(d_range[d_slider.value]).toFixed(2);
        if (target_d < 0.0) {
            d_output.innerHTML = - target_d + ' on the Right'
        } else if (target_d > 0.0) {
            d_output.innerHTML = target_d + ' on the left'
        } else {
            d_output.innerHTML = target_d
        }
        h_output.innerHTML = parseFloat(h_range[h_slider.value]).toFixed(2);

    }

    // Register the functions to the buttons
    var prev_button = document.getElementById("prev_trajectory_button");
    prev_button.onclick = function(){
        visible_trajectory_index = visible_trajectory_index - 1
        if( visible_trajectory_index < 0 ){
            visible_trajectory_index = global_state.visible_trajectories.length - 1
        }
        update_sliders()
        update_trajectory()

    }
    var next_button = document.getElementById("next_trajectory_button");
    next_button.onclick = function(){
        visible_trajectory_index = visible_trajectory_index + 1
        if( visible_trajectory_index >= global_state.visible_trajectories.length ){
            visible_trajectory_index = 0
        }
        // Debug
        console.log(global_state.map_visible_trajectories_to_sliders[visible_trajectory_index])

        update_sliders()
        update_trajectory()
    }

    function update_form_inputs(){
        // Initialize the FORM
        h_slider.value = 0
        h_output.innerHTML = h_range[h_slider.value];

        v_slider.value = 0
        v_output.innerHTML = parseFloat(v_range[v_slider.value]) * 3.6;

        update_sliders()
        update_trajectory()
    }

    // Make sure that all the pieces are in place before loading the first trajectory
    window.onload = function() {
        update_visible_trajectories()
        update_trajectory()
        update_form_inputs()
        autosize_figure()
    };
</script>
{% endblock %}