<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mysite.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Flexcrash - Start</title>

</head>

<body>

 <!-- Navigation Bar -->

    <div id="nav-placeholder">
    </div>

{#    <script id="replace_with_navbar" src="nav.js"></script>#}

    <div class="container">

        <h2> Welcome, {{ current_user.username }} </h2>

        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                   <a href="{{ url_for('web.created_by_you') }}" class="btn btn-info" role="button">Scenarios Created by You</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                    <a href="{{ url_for('web.you_are_in') }}" class="btn btn-info" role="button">Scenarios You Are In</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                    <a href="{{ url_for('web.other_scenarios') }}" class="btn btn-info" role="button">Other Scenarios</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                    <a href="{{ url_for('web.join_scenario') }}" class="btn btn-info" role="button">Join Active Scenarios</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                    <a href="{{url_for('web.create_scen')}}" class="btn btn-info" role="button">Create Custom Scenario</a>
                </div>
            </div>
        </div>

    </div>

 <div id="footer-placeholder"></div>

<script>
    $.get("{{ url_for('web.navbar') }}", function(data){
        $("#nav-placeholder").replaceWith(data);
    });

    $.get("{{ url_for('web.footer') }}", function(data){
        $("#footer-placeholder").replaceWith(data);
    });
</script>

</body>
</html>