<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mysite.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Other Scenarios</title>

</head>
<body>

 <!-- Navigation Bar -->

    <div id="nav-placeholder">
    </div>

<div class="row">
    <h2 align="center">Other Scenarios</h2>
    <p align="center">This page lists all the scenarios in which you are not or have not been the owner nor a driver.</p>
</div>

<div id="cards-container" class="container">
</div>

<div id="active" class="container">
    <h4 style="padding-top: 1rem;">Active Scenarios</h4>
    <div id="active-container" class="container">
    </div>
</div>

<div id="done" class="container">
    <h4 style="padding-top: 2rem;">Closed Scenarios</h4>
    <div id="done-container" class="container">
    </div>
</div>

</br></br>

<div class="h-100 d-flex align-items-center justify-content-center" id="empty-container">
</div>

<div class="h-100 d-flex align-items-center justify-content-center" id="link-container">
</div>

<div id="footer-placeholder"></div>

<script>

    function create_buttons(value) {
        // Create a multiline string template with current values each time
        cardHtml = `
            <div class="card mt-3">
                <div class="card-body">
                    <h4>Scenario ${value[1]} - ${value[0]}</h4>
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href='{{ url_for("web.scenario_overview", scenario_id=value) }}${value[1]}';"> Go to Scenario </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        `;
        return cardHtml;
    }

    $.get("{{ url_for('web.navbar') }}", function(data){
	    $("#nav-placeholder").replaceWith(data);
    });

    $.get("{{ url_for('web.footer') }}", function(data){
        $("#footer-placeholder").replaceWith(data);
    });

    valuesCards1 = {{scenarios_active | tojson}}
    valuesCards3 = {{scenarios_done | tojson}}

    activeContainer = document.getElementById('active');
    doneContainer = document.getElementById('done');

    cardsContainer1 = document.getElementById('active-container');
    cardsContainer3 = document.getElementById('done-container');

    messageContainer = document.getElementById('empty-container');
    linkContainer = document.getElementById('link-container');


    if (Object.keys(valuesCards1).length === 0) {
        cardsContainer1.innerHTML = "<p style='color: #191919;'><br>There are no other active scenarios.</p>"
    }

    if (Object.keys(valuesCards3).length === 0) {
        cardsContainer3.innerHTML = "<p style='color: #191919;'><br>There are no other closed scenarios.</p>"
    }

    for (let value of Object.values(valuesCards1)) {
        let newCard = document.createElement('DIV');
        newCard.classList.add('col'); // Add the 'col' class for each card
        // Add products-cards class to new element
        newCard.classList.add('products-cards');
        // Create a multiline string template with current values each time
        cardHtml = create_buttons(value)
        // Append the new element to the cardsContainer element in DOM
        cardsContainer1.appendChild(newCard);
        // Inject the template html on DOM's new append item
        newCard.innerHTML = cardHtml;
    }

    for (let value of Object.values(valuesCards3)) {
        let newCard = document.createElement('DIV');
        // Add products-cards class to new element
        newCard.classList.add('products-cards');
        // Create a multiline string template with current values each time
        cardHtml = create_buttons(value)
        // Append the new element to the cardsContainer element in DOM
        cardsContainer3.appendChild(newCard);
        // Inject the template html on DOM's new append item
        newCard.innerHTML = cardHtml;
    }
</script>

</body>
</html>