<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mysite.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Setup Training Scenario</title>

</head>
<body>

 <!-- Navigation Bar -->

    <div id="nav-placeholder">
    </div>

<div class="container">

        <h2 align="center"> Setup Training Scenario </h2>

    <div id="cards-container"></div>

    <div id="create-training-scenario" class="col-sm-8">
        <form name="create-scenario" action="http://localhost:5000/webcreatetraining" method="POST" onsubmit="return validateForm()">
            <h3 id="training_scenario_name_label">Template Name</h3>
            <input type="hidden" id="training_scenario_name" name="training_scenario_name">
            <input id="submitbtn" type="submit" value="Play" disabled>
        </form>
    </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center" id="empty-container">
</div>

<script>

      $.get("{{ url_for('web.navbar') }}", function(data){
          $("#nav-placeholder").replaceWith(data);
      });

      data = {{ training_scenario_template_image_urls_and_ids | tojson}}

      // Initially Hide the form - we show it only if we click on a template
      var theForm = document.getElementById('create-training-scenario');
      theForm.style.display = "none";
      messageContainer = document.getElementById('empty-container');

      if (Object.keys(data).length === 0) {
        messageContainer.innerHTML = "<h3 style='color: orange;'><br><br>No training scenario templates to create from.</h3>"
      }

      function updateFormPosition(containerDiv){
        containerDiv.appendChild(theForm);
        // Make it visible again
        theForm.style.display = '';
      }

      function updateTemplateName(selected_template_name) {
        document.getElementById("training_scenario_name").value = selected_template_name;
        document.getElementById("training_scenario_name_label").textContent = selected_template_name;
        document.getElementById("submitbtn").disabled = false;
        // Refresh the UI
        const images = document.getElementsByTagName("img")
        for ( var i = 0; i < images.length; i++) {
          if ( images[i].name.startsWith("template-")) {
            if ( images[i].name == "template-"+selected_template_name) {
              images[i].style.border = "10px solid blue";
            } else {
              images[i].style.border = "initial";
            }
          }
        }
      }

      function showImage(image_url_and_template_name) {
        let image_url = image_url_and_template_name[0]
        let template_name = image_url_and_template_name[1]
        var img = document.createElement('img');
        img.name = "template-" + template_name
        img.src = image_url
        img.width = 300
        img.height = 300
        let btn = document.createElement("radio");
        btn.classList.add('col-3');
        btn.appendChild(img)
        // Create the row
        let newCard = document.createElement('div');
        newCard.classList.add('row');
        // Append the col to the row
        newCard.appendChild(btn);
        // Append the row to the cardsContainer
        cardsContainer.appendChild(newCard);
        btn.onclick = function() {
            updateTemplateName(template_name);
            updateFormPosition(newCard)
        };
      }

      cardsContainer = document.getElementById('cards-container');
      data.forEach(showImage);

</script>

</body>
</html>