<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mysite.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Scenario {{ scenario.scenario_id }} Overview</title>

</head>
<body>


 <!-- Navigation Bar -->

    <div id="nav-placeholder">
    </div>

    <div class="container">

        <h2> Scenario {{ scenario.scenario_id }} Overview </h2>
        <p>
            <table>
                <tbody>
                    <tr>
                        <td>Scenario Name:</td>
                        <td>{{ scenario.name }}</td>
                    </tr>
                    {% if scenario.status != "DONE" %}
                    <tr>
                        <td>Max Duration:</td>
                        <td>{{ scenario.duration }} simulation steps</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>Effective Duration:</td>
                        <td> {{ scenario_state_dtos|length - 1 }} out of {{ scenario.duration }} simulation steps</td>
                    </tr>
                    {% endif  %}
                    <tr>
                        <td>Scenario Owner:</td>
                        <td>{{ scenario.created_by.username }}</td>
                    </tr>
                    <tr>
                        <td>Scenario Status:</td>
                        <td>{{ scenario.status }}</td>
                    </tr>
                </tbody>
            </table>

        {% if scenario.drivers|length > 0 %}
            <table>
                <tr>
                    <td>Drivers:</td>
                    <td>{{ scenario.drivers[0].username }}</td>
                </tr>
                {% for driver in scenario.drivers[1:] %}
                <tr>
                    <td></td>
                    <td>
                    {{ driver.username }},
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <table>
                <tr>
                    <td>Drivers:</td>
                    <td>No drivers registered yet.</td>
                </tr>
            </table>
        {% endif %}
        </p>
    </div>

    <!-- Scenario Visualization -->
    {% if scenario.status != "WAITING" %}
        <div class="container">
            <h4>Scenario Actions</h4>
            {% if scenario.status == "DONE" or not focus_on_driver %}
                <p>The scenario is over.</p>
                <p>There are no actions available for you in this scenario</p>
            {% else %}
                {% if current_user_driver_state.status != "CRASHED" and current_user_driver_state.status != "GOAL_REACHED" %}
                    <a type="button" class="btn btn-primary" href="{{ url_for('web.scenario_state', scenario_id = scenario.scenario_id, timestamp=current_user_driver_state.timestamp) }}">
                        Drive !
                    </a>
                {% else %}
                    {% if current_user_driver_state.status == "CRASHED" %}
                        <p>You crashed!</p>
                    {% endif %}
                    {% if current_user_driver_state.status == "GOAL_REACHED" %}
                        <p>You reached the goal area!</p>
                    {% endif %}
                    <p>There are no actions available for you in this scenario</p>
                {% endif %}
            {% endif %}
        </div>

        <div class="container">
           <h4>Scenario States</h4>
           <div id="state-slideshow">
               <!-- Images -->
               <div class="slideshow-container">
                {% for scenario_image_url in scenario_image_urls %}
                    <img class="scenario-slide" style="height: 100%; width: 100%" src="{{scenario_image_url}}" href="">
                {% endfor %}
                   <!-- Previous and Next arrows -->
                   <a class="prev" style="text-decoration:none" onclick="changeSlide(-1)">&#10094;</a>
                   <a class="next" style="text-decoration:none" onclick="changeSlide(1)">&#10095;</a>
                </div>
           </div>
            <!-- Slide counter -->
            <div class="slide-counter" id="slideCounter"></div>
            <!-- Image slider -->
            <input type="range" id="slider" min="0" max="" step="1" onchange="updateSlide(this.value)" style="background-color: #000000; margin-top: 30px;">
        </div>
    {% endif %}

    <!-- Link to all the states -->
    {% if scenario.status != "WAITING" %}
        <div class="container">
            <div id="cards-container" class="container">
                    <h4>Link to Scenario States at different simulation steps</h4>
            {% for scenario_state_dto in scenario_state_dtos %}
                <p>
                    {% if scenario_state_dto['status'] == "DONE" %}
                    <a href="{{ url_for('web.scenario_state_static', scenario_id = scenario.scenario_id, timestamp=scenario_state_dto['timestamp']) }}">
                        State at simulation step {{ scenario_state_dto['timestamp'] }} -
                        {{ scenario_state_dto['status'] }}
                    </a>
                    {% elif scenario_state_dto['status'] == "ACTIVE" and focus_on_driver %}

                        {% if current_user_driver_state.status != "CRASHED" and current_user_driver_state.status != "GOAL_REACHED" %}
                            <!-- Why pointing to state and not actionable state ? -->
                            <a href="{{ url_for('web.scenario_state', scenario_id = scenario.scenario_id, timestamp=scenario_state_dto['timestamp']) }}">
                                State at simulation step {{ scenario_state_dto['timestamp'] }} -
                                {{ scenario_state_dto['status'] }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('web.scenario_state_static', scenario_id = scenario.scenario_id, timestamp=scenario_state_dto['timestamp']) }}">
                                State at simulation step {{ scenario_state_dto['timestamp'] }} -
                                {{ scenario_state_dto['status'] }}
                            </a>
                        {% endif%}
                    {% elif scenario_state_dto['status'] == "ACTIVE" and not focus_on_driver %}
                    <a href="{{ url_for('web.scenario_state_static', scenario_id = scenario.scenario_id, timestamp=scenario_state_dto['timestamp']) }}">
                        State at simulation step {{ scenario_state_dto['timestamp'] }} -
                        {{ scenario_state_dto['status'] }}
                    </a>
                    {% else %}
                    <div>
                        State at simulation step {{ scenario_state_dto['timestamp'] }} -
                        {{ scenario_state_dto['status'] }}
                    </div>
                    {% endif %}

                </p>
            {% endfor %}
        </div>
    {% endif %}

<script>
    $.get("{{ url_for('web.navbar') }}", function(data){
	    $("#nav-placeholder").replaceWith(data);
    });

      var slideIndex = 0;
      // Make sure we consider only the images that represent slides
      var slides = document.getElementsByClassName("scenario-slide");
      var slideCounter = document.getElementById("slideCounter");
      var slider = document.getElementById("slider");

    // Set the maximum value of the slider dynamically
    slider.setAttribute("max", slides.length - 1);

      function showSlide(n) {
        if (n < 0) {
          slideIndex = slides.length - 1;
        } else if (n >= slides.length) {
          slideIndex = 0;
        }

        for (var i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        slides[slideIndex].style.display = "block";

        // Update the slide counter
        slideCounter.textContent = "Simulation step " + slideIndex + " of " + (slides.length - 1);

        // Update the slider value
        slider.value = slideIndex;
      }

      function changeSlide(n) {
        showSlide(slideIndex += n);
      }

      function updateSlide(n) {
        showSlide(slideIndex = parseInt(n));
      }

      // Show the initial slide
      showSlide(slideIndex);

</script>

</body>
</html>