<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mysite.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>STATIC View of Scenario State</title>

</head>
<body>

 <!-- Navigation Bar -->

    <div id="nav-placeholder">
    </div>

    <!-- TODO Dynamically update the things if there is more than one. But what;s the meaning of prev and next then -->
    <div id="cards-container" class="container">
        <div class="card center">
            <div class="button-box col-lg-12">
                {% if prev_state_url %}
                    <a href="{{ prev_state_url }}" class="btn btn-primary" role="button">&laquo; Show Previous State</a>
                {% else %}
                    <a aria-disabled="true" class="btn btn-primary disabled" role="button">&laquo; Show Previous State</a>
                {% endif %}
                    <a href="{{ scenario_url }}" class="btn btn-primary" role="button">Back to Scenario Overview</a>
                {% if next_state_url %}
                    <a href="{{ next_state_url }}" class="btn btn-primary" role="button">Show Next State &raquo;</a>
                {% else %}
                    <a class="btn btn-primary disabled" role="button">Show Next State &raquo;</a>
                {% endif %}
            </div>
        </div>

        <div class="card center">
            <img src="{{ rendered_state_url }}"/>
        </div>

        <div class="card center">
            <h2>Vehicle' details</h2>
            {% for vehicle_state in vehicle_states %}
                <p>
                <table>
                    <tbody>
                        <tr>
                            <td>Driver</td>
                            <td>
                                {{ vehicle_state.username }}
                                {% if vehicle_state.is_current_user %}
                                (This is you)
                                {% endif %}
                        </td>
                        </tr>
                        <tr>
                            <td>Status</td><td>{{ vehicle_state.status }}</td>
                        </tr>
                        <tr>
                            <td>Speed </td><td>{{ vehicle_state.speed_ms * 3.6 }} Km/h</td>
                        </tr>
                        <tr>
                            <td>Acceleration</td>
                            <td>The vehicle is
                                {% if vehicle_state.acceleration_m2s > 0.0 %}
                                accelerating
                                {% else %}
                                braking
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </p>
            {% endfor %}
        </div>

        <div class="card center">
            <div class="button-box col-lg-12">
                {% if prev_state_url %}
                    <a href="{{ prev_state_url }}" class="btn btn-primary" role="button">&laquo; Show Previous State</a>
                {% else %}
                    <a aria-disabled="true" class="btn btn-primary disabled" role="button">&laquo; Show Previous State</a>
                {% endif %}
                    <a href="{{ scenario_url }}" class="btn btn-primary" role="button">Back to Scenario Overview</a>
                {% if next_state_url %}
                    <a href="{{ next_state_url }}" class="btn btn-primary" role="button">Show Next State &raquo;</a>
                {% else %}
                    <a class="btn btn-primary disabled" role="button">Show Next State &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>

<script>
    $.get("{{ url_for('web.navbar') }}", function(data){
	    $("#nav-placeholder").replaceWith(data);
    });
</script>

</body>
</html>